# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.exe
*.dll
*.db

DrazenDemoServer/DrazenDemo/bin/*
DrazenDemoServer/DrazenDemo/obj/*

DrazenDemoServer/DrazenDemo/DrazenDemo.db-shm
DrazenDemoServer/DrazenDemo/DrazenDemo.db-wal
DrazenDemoServer/DrazenDemo/DrazenDemo.db
